@import "var.scss";
@import "global.scss";

.login-logo {
  background-color: $color-orange;
  height: 100vh;
  width: 100vw;
  min-width: 650px;
  overflow: hidden;
  @include layout(center, center);
  .icon {
    // @include icon(6.5em, $color-blue-dark);
    transform: rotate(-30deg);
  }
}
